<div class="author">
    <h1 class="author__heading">Hola, Soy Lucas.</h1>
    <p class="author__body">Web developer</p>
</div>

<img src="/img/me.jpeg" alt="picture of me" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Ultimos Posteos</h2>

    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Titulo del posteo</span>
                <span class="article-list__date">Fecha</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; Ver posteos mas antiguos</a>

</section>